.character-list{
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  text-align: center;

}

.character-item{
  padding: 0 auto;

}