.search-bar{
  background-color: #18AFC8;
  border: 2px solid #9FCD4A;
  padding: 10px;
  margin: 15px;
  box-sizing: border-box;
}
.search-bar-name{
  display: flex;
  align-items: center;
  height: 25px;
}

.search-bar-specie{
  display: flex;
  align-items: center;
  height: 25px;
}

.search-title{
  margin: 5px;
  color: white;
  font-weight: bold;
}

.search-title-specie{
  margin: 5px;
  color: white;
}

.search-label{
  margin: 5px;
  color: white;
  height: 20px;
}

.search-label-checkbox{
  color: white;
  margin: 0 5px ;
  vertical-align: bottom;
}

.search-input{
  margin: 0 5px;
  border: 1px solid #9FCD4A;
  height: 20px;
  padding: 0;
  &::placeholder{
    vertical-align: middle;
  }
}