.search-bar{
  background-color: #18AFC8;
  border: 2px solid #9FCD4A;
  padding: 10px;
  margin: 15px;
  box-sizing: border-box;
}

.search-title{
  margin: 5px;
  color: white;
}

.search-label{
  margin: 5px;
  color: white;
  height: 20px;
}

.search-input{
  margin: 5px;
  border: 1px solid #9FCD4A;
  height: 20px;
  &::placeholder{
    vertical-align: middle;
  }
}