.app-header{
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-title {
  background-image: url('./../assets/images/LogoRM.png');
  background-repeat: no-repeat;
  width: 280px;
  background-size: contain;
  background-position: center;
  padding-top: 100px;
  height: 1px;
  overflow: hidden;
  margin-top: 10px;
  @media all and (min-width: 768px){
    width: 400px;
  }

}